/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  text-decoration: none;
	list-style-type:none;
}

body {
	margin: none;
	padding: none;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--secondary-color-text:#eee;
	--color-background:#eee;
	--secondary-color-background:#111;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
footer {
background-color: var(--secondary-color-background);
color: var(--secondary-color-text);
}
