/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --secondary-color-text: #eee;
  --color-background: #eee;
  --secondary-color-background: #111;
  --third-color-background: #ffe196;
  --fourth-color-background: rgb(234, 226, 220);
  --fifth-color-background: #f0f0f0;
  --light-accent-color: rgb(180, 179, 179);
  --dark-accent-color: rgb(72, 71, 71);
}

@media (prefers-color-schema: dark) {
  :root {
    --color-text: #eee;
    --secondary-color-text: #111;
    --color-backgound: #111;
    --secondary-color-background: #eee;
    --third-color-background: #001e69;
    --fourth-color-background: rgb(21, 29, 35);
    --fifth-color-background: #0f0f0f;
    --light-accent-color: rgb(75, 76, 76);
    --dark-accent-color: rgb(183, 184, 184);
  }
}






/****************/
/* HEADER */
/****************/

#actie {
  background-color: var(--secondary-color-background);
  color: var(--secondary-color-text);
  justify-content: center;
  padding: 0.75em;
  font-size: 0.75em;
  font-weight: 200;
  text-decoration: underline;
}

header svg {
  width: 1.5em;
}

header img {
  width: 10em;
  margin-right: 4em;
}

#hamburgerMenu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  translate: -100% 0%;
}

header > a:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#secondNav ul {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  border-top: solid 0.05em;
  border-color: var(--light-accent-color);
}

header > button {
  background-color: inherit;
  border: none;
  padding-left: 0.5em;
}






/****************/
/* FOOTER */
/****************/

footer {
  background-color: var(--secondary-color-background);
  color: var(--secondary-color-text);
  padding-left: 2em;
}

footer h3 {
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 2em;
  padding-bottom: 1em;
}

footer a {
  color: var(--secondary-color-text);
  line-height: 2.8em;
}

footer svg {
  width: 1.5em;
  margin-right: 0.4em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer ul:first-child {
  margin-top: 2em;
}

.row a {
  margin-right: 1em;
}

footer nav img {
  width: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
}

footer img:last-child {
  width: 20em;
  margin-top: 3em;
  margin-bottom: 5em;
}






/****************/
/* MAIN */
/****************/


/* Achtergrondkleur */

#geleVlak {
  background-color: var(--third-color-background);
}

main section:last-of-type {
  background-color: var(--fourth-color-background);
}

.grijsVlak {
  background-color: var(--fifth-color-background);
}



/* Border */

main section {
  border-bottom: solid;
  padding-bottom: 2.5em;
}

main section:nth-child(3) img,
video {
  border-bottom: solid;
}

.noWhiteSpace {
  padding-bottom: 0;
}




/* Align */

.centered {
  text-align: center;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.leftAligned {
  padding-left: 1.25em;
  padding-right: 1.25em;
}




/* Typografie */

.secondFont {
  font-family: "Times New Roman", Times, serif;
}

main h1,
h2 {
  font-weight: 400;
  padding-top: 1em;
  padding-bottom: 1em;
}

p,
.listType li {
  font-size: 0.85em;
  line-height: 1.75em;
}

p {
  padding-bottom: 2.25em;
}

.thinFont {
  font-weight: 200;
}

.mediumSizeFont {
  font-size: 2em;
}

.underline {
  text-decoration: underline;
}

#title {
  font-size: 2.7em;
}

#titleTwo {
  font-size: 2.1em;
}

main section:last-child h2 {
  padding-left: 1em;
  padding-right: 1em;
}




/* Afbeeldingen */
main img {
  width: 100%;
}

main section img:nth-child(2) {
  width: 10em;
  margin-bottom: 1em;
}

.grijsVlak svg {
  width: 1em;
}




/* Video */
video {
  width: 100%;
}




/* Button en link */

.linkStyle,
.buttonStyle {
  background-color: var(--secondary-color-background);
  color: var(--secondary-color-text);
  border-radius: 3em;
}

.linkStyle {
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.buttonStyle {
  width: 12em;
  border: none;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.linkStyle:hover,
.buttonStyle:hover {
  background-color: var(--dark-accent-color);
}




/* Aanmeldformulier */

form {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-right: 2em;
}

form input {
  padding: 1em;
  border: solid 0.05em;
  border-color: var(--light-accent-color);
  border-radius: 0.5em;
}

/* Hoe checkbox selecteren om te stijlen? */
/* code werk niet!! */
input [type="checkbox"] {
  transform: scale(1.5);
  margin-right: 0.5em;
}

form label {
  font-size: 0.8em;
}

form label {
  color: var(--dark-accent-color);
}

div {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}




/* GRID */

#imgGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0em, 1fr));
  grid-gap: 0.1em;
  border-top: solid;
  margin: 0;
}

#imgGrid img {
  display: block;
}

#imgGrid figure {
  position: relative;
}

figcaption {
  color: var(--secondary-color-text);
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
}




/* CAROUSEL */

#carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  gap: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

#carousel img {
  width: 13em;
  margin-bottom: 1em;
}

#carousel p {
  text-align: left;
}

::-webkit-scrollbar {
  display: none;
}

/* SCHEMA */

#schema li {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  border: solid;
  border-bottom: 0.1em;
  padding: 0.4em;
}

#schema li svg {
  margin: 0.5em;
}




/* Freq asked questions */
.listType li {
  list-style-type: disc;
}

.listType,
summary {
  padding-bottom: 1em;
}

details {
  padding-left: 1em;
  padding-top: 1em;
  border-bottom: solid 0.05em;
  border-color: var(--light-accent-color);
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
}

.icon::before {
  content: "+";
  display: block;
}

.icon::after {
  content: "-";
  display: block;
}
